@font-face { 
  font-family: "OpenSans-Regular";
  font-weight: 400;
  src: url("fonts/OpenSans-Regular.woff") format("woff"),
    url("fonts/OpenSans-Regular.woff2") format("woff2"),
    url("fonts/OpenSans-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Bold";
  font-weight: 700;
  src: url("fonts/OpenSans-Bold.woff") format("woff"),
    url("fonts/OpenSans-Bold.woff2") format("woff2"),
    url("fonts/OpenSans-Bold.ttf") format("ttf");
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'OpenSans-Regular', sans-serif;
}

li {
  list-style-type: none; 
}

ul {
  margin: 0;
  padding-left: 0; 
}

a {
  text-decoration: none;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 20px !important;
}

h1, h2, h3, h4 {
  font-family: 'OpenSans-Bold';
}

p {
  font-size: 15px;
}

.header {
  background-color: gray;
  background-position: center center;
  background-image: url("img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.nav {
  display: flex;
  padding: 50px 35px;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
}

.logo {
  margin-left: 120px;
}

.links {
  position: absolute;
  right: 5vw;
}

.nav-link {
  font-size: 13px;
  margin-right: 50px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-link:hover {
  color: lightgray;
  transition: 0.3s;
}

.opacity-block-header {
  z-index: 0;
  position: absolute;
  background-color: black;
  top: 0;
  width: 100%;
  height: 450px;
  opacity: 0.6;
}

.opacity-block {
  z-index: 0;
  position: absolute;
  background-color: black;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.header-title-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  z-index: 1;
  position: relative;
  font-family: 'OpenSans-Bold', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 50px;
  top: 10px;
  width: 750px;
}

.pop-up-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.pop-up-menu-wrapper-x {
  position: fixed;
  background: white;
  padding: 20px;
  z-index: 100;
  width: 390px;
  height: 600px;
  box-sizing: border-box;
  padding: 20px 25px;
}

.pop-up-opacity {
  background: black;
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  left: 0;
  right: 0;
}

.feedback-activity {
  width: 100%;
  height: 50px;
  border: none;
  background: #f4f7f6;
  -webkit-appearance: none;
  padding-left: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='174' height='296' fill='none'%3E%3Cpath d='M86.944.389l75.297 130.417H11.648L86.944.389zM86.945 296L11.648 165.583h150.593L86.944 296z' fill='%23B59F5B'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 95%;
}

h2.feedback-title {
  margin-bottom: 30px;
  margin-top: 5px;
}

.feedback-subtitle {
  margin: 13px 0;
  display: block;
  font-size: 15px;
}

.feedback-mailing {
    display: flex;
}

.feedback-mailing-label {
  font-size: 15px;
  margin-right: 20px;
}

.feedback-mailing-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

.feedback-mailing-radio:checked {
  outline: 2px solid #b59f5b;
  background: #b59f5b;
  border: 3px solid white;
}

.feedback-mailing-radio {
  border: 2px solid #b59f5b;
}

.feedback-addition {
  padding-left: 20px;
  width: 100%;
  height: 150px;
  max-width: calc(100% - 20px);
  max-height: 200px;
  min-width: calc(100% - 20px);
  min-height: 150px;
  border: none;
  background: #f4f7f6;
  font-size: 15px;
  padding-top: 20px;
}

.feedback-answer-btn {
  width: 100%;
  background: #b59f5b;
  border: none;
  font-size: 20px;
  color: white;
  margin-top: 10px;
  height: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.feedback-answer-btn:hover {
  background: #ab985d;
  transition: 0.3s;
  cursor: pointer;
}

.close-btn {
  position: relative;
  border: none;
  background: rgba(0, 0, 0, 0);
  bottom: 50px;
  fill: white;
  left: 340px;
  width: 30px;
  height: 30px;
}

.close-btn:hover {
  cursor: pointer;
}

.top-section-blocks {
  display: flex;
  margin: 10px 0;
  gap: 5px;
}

.top-section-title {
  font-size: 20px;
  text-transform: uppercase;
}

.top-section-block {
  width: 25%;
  height: 400px;
  background: lightgray;

  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.top-section-block-title {
  position: absolute;
  z-index: 10;
  color: white;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 20px;
  outline: 2px solid #b59f5b;
}

.top-section-block-subtitle-ul {
  position: relative;
  top: 20px;
}

.first-block {
  background-image: url("img/trend1.jpg");
}

.second-block {
  background-image: url("img/trend2.jpg");
}

.third-block {
  background-image: url("img/trend3.jpg");
}

.fourth-block {
  background-image: url("img/trend4.jpg");
}

.main-wrapper {
  padding: 64px 16px;
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-section {
  margin-right: 120px;
}

.text-block {
  padding-left: 30px;
}

.post-block {
  display: flex;
  margin-bottom: 50px;
/*   transition: 0.3s; */
}

/* .post-block:hover {
  background: #f4f7f6;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px;
} */

.theme {
  margin-right: 15px;
  font-weight: 700;
  color: #b59f5b;
  text-transform: uppercase;
  font-family: 'OpenSans-Bold';
}

.theme-block {
  display: flex;
}

.post-title {
  font-size: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}

time {
  color: gray;
}

.author {
  margin-left: 1vh;
  color: black;
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: bold;
}

.post-content {
  font-size: 25px;
  margin-top: 20px;
}

.additional-title {
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
}

.additional-title::after {
  content: '';
  display: block;
	height: 2.5px;
	width: 80px;
	background-color: #b59f5b;
	margin: 10px auto 0;
}

.additional-section {
  position: relative;
  bottom: 15px;
  width: 275px;
}

.additional-post {
  display: flex;
  margin-bottom: 20px;
}

.additional-post-content {
  width: 300px;
  margin-left: 20px;
}

.additional-post-title {
  text-transform: uppercase;
  position: relative;
  top: -15px;
  font-size: 14px;
}

.search-form {
  margin: 80px 0;
}

.search {
  border: none;
  background: #f4f7f6;
  font-size: 15px;
  padding: 15px;
  width: 220px;
  height: 52px;
}

.search-submit-btn {
  background: #b59f5b;
  background-image: url("svg/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  
  height: 52px;
  border: none;
  width: 50px;
  margin-left: -5px;
  vertical-align: top;
  transition: 0.3s;
}

.search-submit-btn:hover {
  background: #ab985d;
  background-image: url("svg/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  
  transition: 0.3s;
  cursor: pointer;
}

.mail {
  border: none;
  background: #f4f7f6;
  font-size: 15px;
  padding-left: 20px;
  width: 270px;
  height: 50px;
  box-sizing: border-box;
}

.mail-submit-btn {
  margin-top: 20px;
  background: #b59f5b;
  color: white;
  font-size: 15px;
  height: 52.6px;
  border: none;
  width: 270px;
  vertical-align: top;
  transition: 0.3s;
  text-transform: uppercase; 
}

.mail-submit-btn:hover {
  background: #ab985d;
  transition: 0.3s;
  cursor: pointer;
}

.theme-filter-form {
  width: 270px;
}

.theme-filter-checkboxes {
  width: 270px;
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 20px;
}

 .theme-filter-radioButton-li {
  margin-bottom: 12px;
}

.nado {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.theme-filter-radioButton {
  display: none;
}

.filter-label {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: bold;
  border: 5px solid #eeeeee;
  transition: 0.3s;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 12px;
}

.filter-label:hover {
  border: 5px solid #b59f5b;
  cursor: pointer;
  transition: 0.3s;
}

.theme-filter-radioButton:checked + .filter-label {
  border: 5px solid #b59f5b;
  color: white;
  background: #b59f5b;
  transition: 0.3s;
}

.theme-p {
  font-size: 14px;
  border-bottom: 2px solid lightgray;
  font-family: "OpenSans-Bold", sans-serif;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.theme-p-count {
  color: #b59f5b;
  vertical-align: super;
}

.goods-blocks {
  position: relative;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods-block-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: nowrap;
  width: 1200px;
  padding: 0 16px;
  box-sizing: border-box;
}

.good-img {
  width: 300px;
}

.good-title {
  margin-bottom: 0;
  margin-top: 10px;
  text-transform: uppercase;
}

.main-part-of-good-block {
  outline: 2px solid #b59f5b;
  padding: 30px;
  position: relative;
  bottom: 30px;
  width: 350px;
  height: 100%;
  box-sizing: border-box;
}

.good-block-direction {
  margin: 0;
}

.good-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bright-word {
  color: #b59f5b;
}

.price-block {
  display: flex;
  margin-top: 20px;
  position: relative;
}

.good-block-btn {
  border: none;
  background: #b59f5b;
  font-size: 16px;
  color: white;

  position: absolute;
  right: 0px;
  bottom: 0px;

  height: 50px;
  width: 150px;

  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}

.good-block-btn:hover {
  background: #ab985d;
  transition: 0.3s;
  cursor: pointer;
}

.good-block-prices {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'OpenSans-Bold';
}

.good-block-last-price {
  text-decoration: line-through;
}

.good-block-price {
  font-size: 20px;
}

.address {
  display: block;
  position: relative;
  height: 83px;
  background: #f4f7f6;
  text-align: center;
  padding-top: 32px;
  width: 1200px;
  margin: -50px auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.address-link {
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
}

.hover-title {
  display: none;
  background: black;
  color: white;
  padding: 5px;
  font-size: 15px;
  position: absolute;
  left: 50%;
  transform: translate(-15%, 0);
  bottom: 75px;
}

.address-link:hover {
  color: gray;
}

.address-link:hover + .hover-title {
  display: inline;  
}

.dribbble {
  background-image: url("svg/001-dribbble.svg");
  transform: translate(-60px, 0);
}

.pinterest {
  background-image: url("svg/001-pinterest.svg");
}

.tumblr {
  background-image: url("svg/003-tumblr.svg");
  transform: translate(60px, 0);
}

.copyright-block {
  display: block;
  text-align: center;
}

.copyright {
  position: relative;
  top: 65px;
  color: gray;
}

.nav-menu-btn {
  display: none;
}

@media(min-width: 1200px) {
  .links {
    transform: translate(0, 15px);
  }
}

@media(max-width: 1200px) {
  .links {
    display: none;
    top: 15vh;
  }

  .logo {
    margin-left: 0;
  }

  .nav {
    flex-direction: row;
  } 

  .nav-link {
    font-size: 15px;
  }

  .header-title {
    top: 20px;
    font-size: 40px;
  }

  .nav-menu-btn {
    display: inline-block;
    fill: white;
    position: absolute;

    border: none;
    background: rgba(0, 0, 0, 0);
  }

  .nav-menu-btn:hover {
    fill: lightgray;
    cursor: pointer;
  }

  .hav-menu {
    justify-content: flex-end;
    display: flex;
  }

  .top-section-blocks {
    flex-wrap: wrap;
    justify-content: center;
  }

  .post-block {
    flex-direction: column;
    margin-bottom: 35px;
  }

  .text-block {
    padding-left: 0;
    margin-top: 10px;
  }

  .text-block::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin-top: 20px;
  }

  .post-block-img {
    width: 100%;
    height: 100%;
  }
}

@media(max-width: 1200px) and (min-width: 641px) {
  .header {
    background-image: url("img/banner-bg-tablet.jpg");
  }

  .hav-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .top-section-block {
    width: 49%;
  }

  .main-wrapper {
    width: 100%;
    padding: 50px 35px;
  }

  .main-section {
    margin-right: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .address {
    width: 90vw;
  }

  .goods-block-wrapper {
    flex-wrap: wrap;
    justify-content: left;
    gap: 10vw;
    position: relative;
    width: 100%;
    padding: 0 35px;
  }

  .good-img {
    width: 35vw;
  }

  .main-part-of-good-block {
    width: 40vw;
    font-size: 17px;
  }

  .good-block-btn {
    width: 140px;
    font-size: 14px;
    right: -10px;
  }

  .header-title {
    top: 5px;
    font-size: 40px;
    width: 600px;
  }

  .opacity-block-header {
    height: 400px;
  }

  .header {
    height: 400px;
  }
}

@media(max-width: 640px) {
  .header {
    background-image: url("img/banner-mobile.jpg");
    height: 640px;
  }

  .opacity-block-header {
    height: 640px;
  }

  .links {
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column;
    background: white;
    gap: 5px;
    padding: 10px;
    border-radius: 4px;
    opacity: 0.9;
    top: 85px;
  }

  .nav-link {
    color: black;
    font-size: 20px;
  }

  .feedback-activity {
    height: 40px;
    font-size: 13px;
  }

  .pop-up-menu-wrapper-x {
    min-width: 256px;
    width: 80vw;
    height: 410px;
  }

  .top-section-block {
    width: 100%;
  }

  .feedback-addition {
    min-height: 50px;
    font-size: 13px;
    max-height: 50px;
  }

  .feedback-mailing-label {
    font-size: 13px;
  }

  .feedback-subtitle {
    font-size: 13px;
  }

  .feedback-form {
    position: relative;
    bottom: 50px;
  }

  .feedback-title {
    margin-bottom: 30px;
    margin-top: 0;
    position: relative;
    bottom: 35px;
  }

  .close-btn {
    left: 65vw;
  }

  .main-wrapper {
    width: 100%;
    padding: 64px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .additional-section {
    width: 100%;
    box-sizing: border-box;
  }

  .mail {
    width: 100%;
  }

  .mail-submit-btn {
    width: 100%;
  }

  .search {
    width: calc(100% - 50px);
  }

  .theme-filter-form {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .theme-filter-checkboxes {
    width: 100%;
  }

  .theme-filter-checkboxes {
    display: flex;
    justify-content: center;
  }

  .address {
    width: 90vw;
  }

  .logo {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 150px;
    align-self: center;
  }

  .header-title {
    top: 30px;
    font-size: 40px;
  }

  .header-title {
    top: 150px;
    width: 320px;
    font-size: 26px;
  }

  .main-section {
    margin-right: 0;
  }

  .good-img {
    width: 75vw;
  }

  .main-part-of-good-block {
    width: 100%;
  }

  .goods-block-wrapper {
    left: 0;
    font-size: 14px;
    width: 100%;
    padding: 0 15px;
    flex-direction: column;
  }

  .price-block {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .good-block-btn {
    height: 40px;
    width: 130px;
    right: -10px;
    bottom: 5px;
  } 
}

@media(max-width: 640px) and (orientation: landscape) {
  .pop-up-opacity {
    display: none;
  }

  .pop-up-menu {
    display: none;
  }

  .links {
    margin-top: 10%;
  }

  .nav-link {
    font-size: 16px;
  }

  .top-section-block {
    width: 49%;
  }
}